.example-names{
    margin-bottom: 55px;
}

.alignment-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.rolls-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.stat-used{
    text-decoration: line-through;
    color: grey;
}

.warning{
    color:red;
}

.domain-descr{
    padding-top: 10px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.domain-id1{
    color: rgba(0, 0, 255, 0.5);
}

.domain-id2{
    color: rgba(255, 0, 0, 0.65);
}

.divider-padding{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
