<div>
    <md-card>
        <md-card-content>
            <md-tabs md-selected="activeIndex" md-dynamic-height>
                <md-tab id="step1">
                    <md-tab-label>Race</md-tab-label>
                    <md-tab-body>
                        <race-select></race-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Name & Gender">
                    <md-tab-body>
                        <name-entry></name-entry>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Class">
                    <md-tab-body>
                        <race-select></race-select>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>
