<div>
    <md-card>
        <md-card-content>
            <md-tabs md-selected="activeIndex" md-dynamic-height md-border-bottom="true" md-stretch-tabs="always">
                <md-tab id="step1">
                    <md-tab-label>Race</md-tab-label>
                    <md-tab-body>
                        <race-select></race-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Name & Gender">
                    <md-tab-body>
                        <name-entry></name-entry>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Class">
                    <md-tab-body>
                        <class-select></class-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Alignment">
                    <md-tab-body>
                        <alignment-select></alignment-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Ability Scores">
                    <md-tab-body>
                        <ability-scores></ability-scores>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Class Abilities">
                    <md-tab-body>
                        <class-select></class-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Skills">
                    <md-tab-body>
                        <class-select></class-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Feats">
                    <md-tab-body>
                        <class-select></class-select>
                    </md-tab-body>
                </md-tab>
                <md-tab label="Equipment">
                    <md-tab-body>
                        <class-select></class-select>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>
