<div layout="column">
    <div layout="column" layout-align="center center">
        <img height="600" width="400" src="{{ classSel.classes[classSel.currentIndex].img }}" align="middle">
    </div>
    <div layout="row" layout-align="space-between center">
        <div flex="30" layout="row" layout-align="start center">
            <md-button class="md-raised" ng-disabled="classSel.currentIndex == 0" ng-click="classSel.currentIndex = classSel.currentIndex - 1"><i class="material-icons">chevron_left</i></md-button>
        </div>
        <div flex="40">
            <h1 class="md-display-2" align="center">{{ classSel.classes[classSel.currentIndex].name }}</h1>
        </div>
        <div flex="30" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-disabled="classSel.currentIndex == 10" ng-click="classSel.currentIndex = classSel.currentIndex + 1"><i class="material-icons">chevron_right</i></md-button>
        </div>
    </div>

    <div>
        <p class="md-subhead">{{ classSel.classes[classSel.currentIndex].description }}</p>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="classSel.submit()">Continue</md-button>
    </div>
</div>
