<div>
    <div class="md-title" flex>
        <h1>Welcome to the Pathfinder Character Manager!</h1>
    </div>
    <div class="md-subhead">
        <p>
            Using this app, you can create a new Pathfinder character using the rules given in the core rulebook. You can also view your created characters, and manage
            their inventories, exp/levels, and stats!
        </p>
    </div>
    <div layout="row">
        <div>
            <md-button ng-click="home.redirect('new')">New Character</md-button>
            <md-button ng-click="home.redirect('load')">Load Character</md-button>
        </div>
    </div>
</div>
