<div>
    <h1 align="center" class="md-display-2">Generate Ability Scores</h1>
    <p class="md-subhead">
        Each character has six ability scores that represent his character's most basic attributes. They are his raw talent and prowess.
        While a character rarely rolls a check using just an ability score, these scores, and the modifiers they create, affect nearly every aspect of a
        character's skills and abilities. Each ability score generally ranges from 3 to 18, although racial bonuses and penalties can alter this; an average ability score is 10.
    </p>
    <p class="md-subhead">
        On this screen you will roll to generate some numbers, then assign these values to your ability scores for your character.
        Assign the highest value scores to the abilities that your character may need the most. A description of each ability can be looked at by clicking the name of the ability.
    </p>
    <md-divider></md-divider>
    <br>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="absc.generateStatPoints()">Roll!</md-button>
        <md-button class="md-raised" ng-click="absc.reset()" ng-disabled="!absc.statPoints.length">Reset</md-button>
    </div>
    <div class="md-subhead rolls-padding" align="left">
        Your rolls:&nbsp;<span ng-if="absc.displayRolls" ng-repeat="roll in absc.statPoints" track-by="$index"><strong ng-class="{'stat-used': roll.inUse}">{{ roll.value }}</strong>&nbsp;&nbsp;&nbsp;</span>
    </div>

    <!-- First row of ability scores -->
    <form name="abilityScores">
        <div layout-gt-xs="row" layout-align="space-around center">
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.strHelp($event)">Strength</md-button></div>
                <div>
                    <md-select ng-model="absc.str" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 0)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.dexHelp($event)">Dexterity</md-button></div>
                <div>
                    <md-select ng-model="absc.dex" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 1)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.conHelp($event)">Constitution</md-button></div>
                <div>
                    <md-select ng-model="absc.con" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 2)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
        </div>

        <!-- Second row of ability scores -->
        <div layout-gt-xs="row" layout-align="space-around center">
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.intHelp($event)">Intelligence</md-button></div>
                <div>
                    <md-select ng-model="absc.int" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 3)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.wisHelp($event)">Wisdom</md-button></div>
                <div>
                    <md-select ng-model="absc.wis" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 4)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="column" layout-align = "center center">
                <div class="md-subhead"><md-button ng-click="absc.chaHelp($event)">Charisma</md-button></div>
                <div>
                    <md-select ng-model="absc.cha" ng-disabled="!absc.statPoints.length" required md-no-asterisk>
                        <md-option ng-repeat="roll in absc.statPoints" ng-click="absc.disable($index, 5)" ng-value="{{ roll.value }}" ng-disabled="roll.inUse">{{ roll.value }}</md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-disabled="abilityScores.$invalid" ng-click="absc.submit()">Continue</md-button>
        </div>
    </form>
    <!-- TODO Fix the columns/rows of the scores -->
</div>
